{% extends "my_blog/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <h2>{{user.username}}</h2>
{% endblock page_header %}

{% block content %}
  
  <ul>
    {% for i in author %}
      <div>
        <li>{{ i.text }}</li>
	<h3><a class="btn btn-secondary btn-sm ml-2" href="{% url 'my_blog:edit_desc'%}">Edytuj opis</a></h3>
      </div>
    {% empty %}
      <div>
        <li><h3>Nie utworzono opisu</h3></li>
        <h3><a class="btn btn-secondary btn-sm ml-2" href="{% url 'my_blog:create_desc' %}">Utwórz opis</a></h3>
      </div>
    {% endfor %}
  </ul> 
    
{% endblock content %}