{% extends "my_blog/base.html" %}
{% load bootstrap4 %}

{% block content %}

<fieldset class="p-3 bg-white shadow-lg border border-info rounded">
  <form method="POST" action="{% url 'users:register' %}" class="form">
    <legend>Rejestracja nowego użytkownika</legend>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button name="submit" class="btn btn-info">Zarejestruj się</button>
    {% endbuttons %}

    <input type="hidden" name="next" value="{% url 'my_blog:blogs' %}">
  </form>
</fieldset>  

{% endblock content %}