{% extends "my_blog/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <h3>{{user.username}}</h3>
{% endblock page_header %}

{% block content %}
  
  <ul>
    {% for i in author %}
      <div class="card mb-3 mt-3 p-2"> 
        <h5 class="opis-autora">O autorze</h5>
        <p>{{ i.text }}</p>
      </div>
        <h3><a class="btn btn-secondary btn-sm ml-2" href="{% url 'my_blog:edit_desc'%}">Edytuj opis</a></h3>
    {% empty %}
      <div>
        <h4>Nie utworzono opisu</h4>
        <h3><a class="btn btn-secondary btn-sm ml-2" href="{% url 'my_blog:create_desc' %}">Utwórz opis</a></h3>
      </div>
    {% endfor %}
  </ul> 
    
{% endblock content %}