{% extends "my_blog/base.html" %}
{% load bootstrap4 %}

{% block content %}

<fieldset class="border bg bg-white rounded p-2">
<div class="container">
<legend>Zaloguj się do konta</legend>
  <form method="POST" action="{% url 'users:login' %}" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button name="submit" class="btn btn-info">Zaloguj się</button>
  {% endbuttons %}
  <input type="hidden" name="next" value="{% url 'my_blog:blogs' %}">
  </form>
</div>
</fieldset>

{% endblock content %}

 
                        
                        